body {
    margin: 0; min-height: 100vh;
    background-color: darkred;
    background-image: url('../css/genpop/BACKGR_2.gif');
    background-size: 64px; background-repeat: repeat;
    background-position: center; color: gainsboro;
    font-family: Verdana, Arial, Geneva, "sans serif";
    font-size: 13.5px;
}

header a, footer a { color: none; text-decoration: none; }

header {
    display: flex; flex-direction: row;
    width: 100vw; height: 151px;
    border-bottom: 6px solid transparent;
    border-image: url('../css/header/HEADER_2.gif');
    border-image-width: auto; border-image-repeat: repeat;
    padding-bottom: 5px; border-image-slice: fill;
}
header .main {
    display: flex; flex-direction: column;
    width: 100%; height: 151px;
    background-image: url('../css/header/freakybg.png'); 
}
header #headLogo2 { width: 310px; height: auto; margin-left: 20px; }
header #mainRightContainer {
    width: 105px; height: inherit;
    align-self: flex-end;
    margin-right: 230px; margin-top: 12px;
}

#main {
    display: flex; flex-direction: row !important;
    margin: 25px 3px;
}
article { width: 99%; margin-right: 15px; }
article li { margin: 8px 0; }
article a { color: #CCFF99; font-weight: bold; }
article a:visited { color: #88BB55 } /*<---- um yeahhhhh lol ok*/
aside {
    width: 245px; height: 400px;
    background-color: lightcoral;
    margin-right: 5px;
}

footer {
    display: flex; flex-direction: row;
    width: 100%; height: 40px;
    background-image: url('../css/footer/BACKGR_3.gif');
    background-size: auto; background-repeat: repeat-x;
}

footer a { margin-right: 20px; }
footer #leftFoot { padding-top: 8px; width: 80%; }
footer #footLogo1 { height: 31px; margin-top: 9px; align-self: flex-end;}


.imgBlock { display: block; }